@page "/manage-employees"
@using AutoMapper
@using Kanakku.Application.Contracts.Presentation
@using Kanakku.Application.Models.Lookup
@using Kanakku.Application.Models.User
@using Kanakku.Application.Requests.Lookup
@using Kanakku.Application.Requests.User
@using Kanakku.Shared
@using Kanakku.UI.Contracts.Event
@using Kanakku.UI.Impl.Event
@inject IAppMediator AppMediator;
@inject MediatR.IMediator Mediator;
@inject IToastService ToastService
@inject IMapper Mapper;
@inject NavigationManager NavigationManager

<MudTable Items="@Employees" FixedHeader=true Hover="true" Breakpoint="Breakpoint.Sm"
          LoadingProgressColor="Color.Info" Striped=true Bordered=true Elevation="1"
          T="EmployeeDto" Dense="true" RowsPerPage="10">
    <ToolBarContent>
        <div class="d-flex flex-row w-100 justify-space-between">
            <MudText Typo="Typo.h6">Employees</MudText>
            <MudButton Class="ms-5" Color="Color.Primary" OnClick="@(()=> EditEmployee(null))">Add Employee</MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="width:10px;">S/N</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Employee Code</MudTh>
        <MudTh>DOB</MudTh>
        <MudTh>Address</MudTh>
        <MudTh>Contact Number</MudTh>
        <MudTh>Date of Joining</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="S/N">@context.RowNumber</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Employee Code">@context.EmpCode</MudTd>
        <MudTd DataLabel="DOB">@context.DateOfBirth</MudTd>
        <MudTd DataLabel="Address">@context.AddressLineOne</MudTd>
        <MudTd DataLabel="Contact Number">@context.PhoneNumber1</MudTd>
        <MudTd DataLabel="Date of Joining">@context.DateOfJoining</MudTd>
        <MudTd DataLabel="Action">
            <MudButton Variant="Variant.Text" Color="Color.Info" OnClick="(()=> EditEmployee(context))"> view details</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@code {
    private List<EmployeeDto> Employees { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Employees = await Mediator.Send(new GetAllEmployeesQuery());
            StateHasChanged();
        }
    }

    private void EditEmployee(EmployeeDto emp)
    {
        Guid employeeId = Guid.Empty;
        if (emp != null)
        {
            employeeId = emp.Id;
        }

        NavigationManager.NavigateTo($"manage-employees/{employeeId}");
    }
}
