@page "/manage-products"
@using Kanakku.Application.Models.Product
@using Kanakku.Application.Requests.Product
@using Kanakku.UI.Contracts.Event
@inject IAppMediator AppMediator
@inject NavigationManager NavigationManager

<MudTable Items="@Products" FixedHeader=true Hover="true" Breakpoint="Breakpoint.Sm"
          LoadingProgressColor="Color.Info" Striped=true Bordered=true Elevation="1"
          OnRowClick="@(x => SelectProduct(x.Item))" T="ProductListDto"
          Height="@UIComp.TABLE_HEIGHT_DEFAULT">
    <ToolBarContent>
        <div class="d-flex flex-row w-100 justify-space-between">
            <MudText Typo="Typo.h6">Products</MudText>
            <MudButton Class="ms-5" Color="Color.Primary" OnClick="@(()=> SelectProduct(null))">Add Product</MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Short Code</MudTh>
        <MudTh>Quantity</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Short Code">@context.ShortCode</MudTd>
        <MudTd DataLabel="Quantity">@context.TotalQuantity</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private List<ProductListDto> Products { get; set; } = new List<ProductListDto>();
    public string searchString;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AppMediator.Send(new GetAllProductsQuery())
                .OnSuccess(async data =>
                {
                    Products = data;
                    await InvokeAsync(StateHasChanged);
                });
        }
    }

    private void SelectProduct(ProductListDto selectedProduct)
    {
        int productId = 0;
        if (selectedProduct != null)
        {
            productId = selectedProduct.Id;
        }
        NavigationManager.NavigateTo($"manage-products/{productId}");
    }
}
