@page "/manage-products/{ProductId:int}"
@using BlazorTable
@using Kanakku.Application.Models.Product
@using Kanakku.Application.Requests.Attachment
@using Kanakku.Application.Requests.Product
@using Kanakku.Shared
@using Kanakku.Shared.Extensions
@using Kanakku.Shared.Models
@using Kanakku.UI.Contracts.Event
@using Kanakku.UI.Extensions
@inject IBlazorStrap BlazorStrap
@inject IAppMediator AppMediator

<BSToaster />

@if (ProductId != 0)
{
    <BSContainer>
        <BSRow>
            <BSCol>
                <h3>@Details?.Name</h3>
            </BSCol>
        </BSRow>
        <BSRow Class="mt-4">
            <BSCol Column="12" ColumnLarge="6" Class="flex-column">
                <BSButton Color="BSColor.Primary" OnClick="()=> operationModal.ShowAsync()">Create Operation</BSButton>
                <div class="mt-1">
                    <Table TableItem="WorkDto" Items="Details.Works" PageSize="15" RowClickAction="(async x=> await OnOperationSelect(x))">
                        <Column TableItem="WorkDto" Title="Operation" Field="@(x => x.WorkName)" Sortable="true" Filterable="true" Width="50%" />
                        <Column TableItem="WorkDto" Title="Rate" Field="@(x => x.Rate)" Format="c2" Sortable="true" Filterable="true" Width="50%" />
                        @if(Details.Works!=null){
                            <BSLabel>Total: <b>@Details.Works.Sum(x=>x.Rate)</b></BSLabel>
                        }
                    </Table>
                </div>
            </BSCol>
            <BSCol Class="text-center">
                <BSImage IsFluid=true IsRounded=true src="@ProductImage" Class="product-dp" />
                <div class="custom-file text-center mt-3">
                    <InputFile type="file" class="custom-file-input d-none" id="product-dp" OnChange="OnFileChange" />
                    <BSLabel class="custom-file-label btn btn-primary" for="product-dp"><span class="oi oi-data-transfer-upload"></span> Upload</BSLabel>
                </div>
            </BSCol>
        </BSRow>

    </BSContainer>
}

@*Add product modal*@
<BSModal IsCentered="true" IsScrollable="true" DataId="modal5a" @ref="modal">
    <Header><h5 class="modal-title">Add Product</h5></Header>
    <Content>
        <div class="mb-3">
            <BSLabel>Name</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Details.Name" />
        </div>
        <div class="mb-3">
            <BSLabel>Short Code</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Details.ShortCode" />
        </div>

        <div class="mb-3">
            <BSLabel>Size</BSLabel>
            @foreach (var variant in Details.ProductVariants)
            {
                <div class="row">
                    <div class="col">
                        <BSInput InputType="InputType.Select" @bind-Value="variant.SizeId">
                            <option value="0">Select</option>
                            @foreach (var size in Sizes)
                            {
                                <option value="@size.Id">@size.Value</option>
                            }
                        </BSInput>
                    </div>
                    <div class="col">
                        <BSInput InputType="InputType.Number" @bind-Value="variant.Quantity" DisplayName="Quantity" />
                    </div>
                    <div class="col">
                        <BSButton Color="BSColor.Danger" OnClick="() => RemoveSizeVariant(variant)">-</BSButton>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <BSInput InputType="InputType.Select" @bind-Value="Variant.SizeId">
                        <option value="0">Select</option>
                        @foreach (var size in Sizes.Where(x => !Details.ProductVariants.Select(y => y.SizeId).Contains(x.Id)))
                        {
                            <option value="@size.Id">@size.Value</option>
                        }
                    </BSInput>
                </div>
                <div class="col">
                    <BSInput InputType="InputType.Number" @bind-Value="Variant.Quantity" DisplayName="Quantity" />
                </div>
                <div class="col">
                    <BSButton Color="BSColor.Success" OnClick=" AddSizeVariant">+</BSButton>
                </div>
            </div>
        </div>

    </Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
        <BSButton Color="BSColor.Primary" OnClick="CreateProduct">Create</BSButton>
    </Footer>
</BSModal>

@*Operation modal*@
<BSModal IsCentered="true" IsScrollable="false" @ref="operationModal">
    <Header><h5 class="modal-title">Add Operation</h5></Header>
    <Content>
        <form @onreset="OnOperationFormReset" @onsubmit="OnOperationFormSubmit">
            <div class="mb-3">
                <BSLabel>Operation Name</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="Operation.WorkName" required
                         Class="@OperationFormError.IsInvalid(nameof(AddOperationCommand.OperationName))" />
                <div class="invalid-feedback">
                    @OperationFormError.GetError(nameof(AddOperationCommand.OperationName))
                </div>
            </div>
            <div class="mb-3">
                <BSLabel>Rate </BSLabel>
                <div class="input-group">
                    <span class="input-group-text">Rs.</span>
                    <BSInput InputType="InputType.Number" @bind-Value="Operation.Rate" required />
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-4">
                <BSButton Color="BSColor.Light" IsReset=true>Reset</BSButton>
                <BSButton Color="BSColor.Success" IsSubmit=true>Add Operation</BSButton>
            </div>
        </form>
    </Content>
</BSModal>

@*Edit Operation modal*@
<BSModal IsCentered="true" IsScrollable="false" @ref="editOperationModal">
    <Header><h5 class="modal-title">Edit Operation</h5></Header>
    <Content>
        <div class="mb-3">
            <BSLabel>Operation Name</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Operation.WorkName" required
                     Class="@OperationFormError.IsInvalid(nameof(AddOperationCommand.OperationName))" />
            <div class="invalid-feedback">
                @OperationFormError.GetError(nameof(AddOperationCommand.OperationName))
            </div>
        </div>
        <div class="mb-3">
            <BSLabel>Rate </BSLabel>
            <div class="input-group">
                <span class="input-group-text">Rs.</span>
                <BSInput InputType="InputType.Number" @bind-Value="Operation.Rate" required
                        Class="@OperationFormError.IsInvalid(nameof(AddOperationCommand.Rate))" />
                <div class="invalid-feedback">
                    @OperationFormError.GetError(nameof(AddOperationCommand.Rate))
                </div>
            </div>
        </div>
    </Content>
    <Footer>
        <div class="d-flex flex-row justify-content-between w-100">
            <BSButton Color="BSColor.Light" IsReset=true OnClick="OnOperationFormReset">Reset</BSButton>
            <BSButton Color="BSColor.Success" IsSubmit=true OnClick="OnOperationFormSubmit">Save</BSButton>
        </div>
    </Footer>
</BSModal>

@code {

    [Parameter]
    public int ProductId { get; set; }
    private string Title { get; set; }
    private ProductDetailDto Details { get; set; }
    private ProductInstanceDto Variant { get; set; } = new();
    private WorkDto Operation { get; set; } = new();
    private WorkDto OperationReset { get; set; } = new();
    private FormError OperationFormError { get; set; }
    private List<SizeDto> Sizes { get; set; } = new();
    private string ProductImage { get; set; } = DirectoryConstant.DFAULT_PRODUCT_IMAGE_PLACEHOLDER;
    private BSModal modal;
    private BSModal operationModal;
    private BSModal editOperationModal;

    protected override void OnInitialized()
    {
        Details = new()
            {
                ProductVariants = new()
            };
        Task.Run(async () =>
        {
            Sizes = (await AppMediator.Send(new GetAllSizeQuery())).Data;
            StateHasChanged();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (ProductId == 0)
            {
                await modal.ShowAsync();
            }
            else
            {
                _ = await AppMediator.Send(new GetProductDetailByIdQuery()
                    {
                        Id = ProductId
                    })
                    .OnSuccess(async (data) =>
                    {
                        Details = data;
                        await AppMediator.Send(new ResourceQuery()
                            {
                                ResourceId = data.ImageId ?? 0
                            })
                        .OnSuccess(data =>
                        {
                            ProductImage = data.Base64String.ToProductImgSource();
                        });
                        await InvokeAsync(StateHasChanged);
                    })
                    .OnError((error) =>
                    {
                        BlazorStrap.Toaster.Error("Error", error.Message);
                    });
            }
        }
    }

    private void AddSizeVariant()
    {
        if (Variant.SizeId == 0 || Variant.Quantity <= 0)
        {
            return;
        }
        Details.ProductVariants.Add(Variant.Clone());

        Variant.Quantity = 0;
        Variant.SizeId = 0;
        Variant.Id = 0;
        StateHasChanged();
    }

    private void RemoveSizeVariant(ProductInstanceDto variant)
    {
        Details.ProductVariants.Remove(variant);
        StateHasChanged();
    }

    private async Task CreateProduct()
    {
        await AppMediator.Send(new AddProductCommand()
            {
                Id = Details.Id,
                ImageId = Details.ImageId,
                Name = Details.Name,
                ShortCode = Details.ShortCode,
                ProductVariants = Details.ProductVariants
            })
            .OnSuccess(async (data) =>
            {
                await modal.HideAsync();
                ProductId = data;
                Details = (await AppMediator.Send(new GetProductDetailByIdQuery()
                    {
                        Id = ProductId
                    })).Data;

                BlazorStrap.Toaster.Success("Success", "Product added successfully");
                await InvokeAsync(() => StateHasChanged());
            })
            .OnError((err) =>
            {
                BlazorStrap.Toaster.Error(err.Type.ToString(), err.Message);
            });

    }

    private async Task OnOperationFormSubmit()
    {
        Operation.ProductId = Details.Id;
        if (Operation.Id > 0)
        {
            await AppMediator.Send(new EditOperationCommand()
                {
                    OperationName = Operation.WorkName,
                    WordId = Operation.Id,
                    Rate = Operation.Rate
                })
                .OnSuccess(async data =>
                {
                    await editOperationModal.HideAsync();
                    BlazorStrap.Toaster.Success(content: "Operation updated successfully");
                    await AppMediator.Send(new GetProductDetailByIdQuery()
                        {
                            Id = ProductId
                        })
                    .OnSuccess(async data =>
                    {
                        Operation = OperationReset = new();
                        Details = data;
                        await InvokeAsync(StateHasChanged);
                    });
                })
                .OnError(err =>
                {
                    BlazorStrap.Toaster.Error("Failed", err.Message);
                })
                .OnFormError(async err =>
                {
                    OperationFormError = err;
                    await InvokeAsync(StateHasChanged);
                });
        }
        else
        {
            await AppMediator.Send(new AddOperationCommand()
                {
                    OperationName = Operation.WorkName,
                    ProductId = Operation.ProductId,
                    Rate = Operation.Rate
                })
                .OnSuccess(async data =>
                {
                    Operation.Id = data;
                    await operationModal.HideAsync();
                    await AppMediator.Send(new GetProductDetailByIdQuery()
                        {
                            Id = ProductId
                        })
                    .OnSuccess(async data =>
                    {
                        Operation = new();
                        OperationFormError = null;
                        Details = data;
                        await InvokeAsync(StateHasChanged);
                    });
                })
                .OnError(err =>
                {
                    BlazorStrap.Toaster.Error("Failed", err.Message);
                })
                .OnFormError(async err =>
                {
                    OperationFormError = err;
                    BlazorStrap.Toaster.Success("Success", "Operation added successfully");
                    await InvokeAsync(StateHasChanged);
                });
        }
    }

    private void OnOperationFormReset()
    {
        Operation = OperationReset.Clone();
        StateHasChanged();
    }

    private async Task OnFileChange(InputFileChangeEventArgs e)
    {
        await AppMediator.Send(new ResourceCommand
            {
                Id = Details.ImageId ?? 0,
                DataStream = e.File.OpenReadStream(maxAllowedSize: Constant.FILE_PICKER_MAX_LENGTH)
            })
            .OnSuccess(async data =>
            {
                Details.ImageId = data.Id;
                await AppMediator.Send(new SaveProductImageCommand()
                    {
                        ImageId = data.Id,
                        ProductId = Details.Id
                    })
                    .OnSuccess(async x =>
                    {
                        BlazorStrap.Toaster.Success("Success", "Image uploaded successfully");
                        ProductImage = data.Base64String.ToProductImgSource();
                        await InvokeAsync(StateHasChanged);
                    })
                    .OnError(err =>
                    {
                        BlazorStrap.Toaster.Error("Failed to save image", err.Message);
                    });
            })
            .OnError(err =>
            {
                BlazorStrap.Toaster.Error("Failed to save image", err.Message);
            })
            .OnFormError(err =>
            {

            });
    }

    private async Task OnOperationSelect(WorkDto selectedItem)
    {
        OperationFormError = null;
        Operation = selectedItem.Clone();
        OperationReset = selectedItem.Clone();
        StateHasChanged();
        await editOperationModal.ShowAsync();
    }
}
